body{
    background-color: #F1F1F1;
}
h1{
    padding: 1rem;
}
#drname{
    color: #0F3D3E;
}
form{
    padding: 2rem;
    background-color: #F1F1F1;
    font-weight: bold;
}
header{
    background-color: #0F3D3E;
}
#sub, #save{
    background-color: #0F3D3E;
    color: #F1F1F1;
}

